* {
	margin: 0;
	padding: 0;
}

div {
	padding: 15px;
	font-size: 14px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header ul {
	display: flex;
}

#profile-button {
	background-color: rgb(0, 174, 255);
	color: white;
	border-radius: 20%;
	padding: 15px;
	gap: 15px;
}

.sidebar {
	grid-column: 1fr;
	display: grid;
	background-color: rgb(0, 174, 255);
	color: white;
	gap: 50px;
	height: 100%;
}

.sidebar div {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

ul {
	list-style: none;
}

button {
	padding: 0;
	width: fit-content;
	border: none;
	background-color: white;
	height: 20px;
}

#search {
	border-radius: 10%;
	width: fit-content;
	height: 20px;
	border: none;
	background-color: lightgrey;
}

.article {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card p {
	padding: 5px;
}

.card .title {
	list-style: none;
	display: inline;
	text-align: center;
}
